// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #dc5945;

// ----------------------------------------------------------------------------
// Inclind Colors
//... from the drive
// ----------------------------------------------------------------------------

$inclind-red: #ec4024;
$inclind-black: #231f20;
$inclind-cream: #fefce9;
$inclind-rust: #99530C;
$inclind-green: #097128;

// ----------------------------------------------------------------------------
// Widget-clock styles
// ----------------------------------------------------------------------------
.widget-clock {

  background-color: $inclind-black;

}
