// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #ff9618;

// ----------------------------------------------------------------------------
// Inclind Colors
//... from the drive
// ----------------------------------------------------------------------------

$inclind-red: #ec4024;
$inclind-black: #231f20;
$inclind-cream: #fefce9;
$inclind-rust: #99530C;
$inclind-green: #097128;

// ----------------------------------------------------------------------------
// Widget-text styles
// ----------------------------------------------------------------------------
.widget-highchartline {

  background-color: $inclind-cream;

  &.large h3 {
    font-size: 65px;
  }
}