// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #4b4b4b;

// ----------------------------------------------------------------------------
// Inclind Colors
//... from the drive
// ----------------------------------------------------------------------------

$inclind-red: #ec4024;
$inclind-black: #231f20;
$inclind-cream: #fefce9;
$inclind-rust: #99530C;
$inclind-green: #097128;

// ----------------------------------------------------------------------------
// Widget-image styles
// ----------------------------------------------------------------------------
.widget-image {

  background-color: rgba($inclind-cream, .5);

}
