<h1 class="title" data-bind="sprint"></h1>

<ul>
    <li class="not_started" data-bind="not_started"></li>
    <li class="in_progress" data-bind="in_progress"></li>
    <li class="done" data-bind="done"></li>
</ul>