<h1 class="title" data-bind="title"></h1>
<div class="headline-container">
  <h3 class="title" data-bind="current_headline.title | raw"></h3>
  <div class="headline description" data-bind="current_headline.description | raw"></div>
</div>