<script type='text/javascript'>
    $(function() {
        // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
        Dashing.widget_base_dimensions = [370, 340]
        Dashing.numColumns = 5
    });
    function reloadPage(){
        setTimeout(function() {
            $('div.gridster').detach();
            $('body').append("<p>You are now being redirected to a new dashboard.</p>");
        },5000);
        window.location.replace("http://inclind-dashing.herokuapp.com/public");
    }

    setTimeout(reloadPage, 20000);
</script>

<% content_for :title do %>1080p dashboard<% end %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Clock"></div>
      <i class="icon-time icon-background"></i>
    </li>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="2">
      <div data-view="Image" data-image="/inclindlogo.png" data-link='abc'></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="4" data-sizey="3">
      <div data-id="welcome" data-view="Text" data-title="Hello!" data-text="Welcome to Inclind" data-moreinfo="<b>Hint:</b> Ask about our custom dashboards"></div>
    </li>
  </ul>
</div>




