<script type='text/javascript'>
    $(function() {
        // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
        Dashing.widget_base_dimensions = [370, 340]
        Dashing.numColumns = 5
    });
    function reloadPage(){
        setTimeout(function() {
            $('div.gridster').detach();
            $('body').append("<p>You are now being redirected to a new dashboard.</p>");
        },5000);
        window.location.replace("http://inclind-dashing.herokuapp.com/publictest");
    }

    setTimeout(reloadPage, 60000);
</script>


<% content_for :title do %>1080p dashboard<% end %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Image" data-image="/inclindlogo.png" data-link='abc'></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-view="Clock"></div>
      <i class="icon-time icon-background"></i>
    </li>
    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="github_org_followers" data-view="Number" data-title="Inclind Github Repo's" style="background-color: #097128"></div>
    </li>
    <li data-row="1" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="week_so_far_hours" data-view="Meter" data-title="Billable hours this week" data-moreinfo="Brought to you by FreshBooks" data-min="0" data-max="20"></div>
    </li>
    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="twitter_user_followers" data-view="Number" data-title="@inclindinc Followers" style="background-color:#4099FF;"></div>
      <i class="icon-twitter icon-background"></i>
    </li>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="welcome" data-view="Text" data-title="Hello!" data-text="Welcome to Inclind" data-moreinfo="<b>Hint:</b> Ask about our custom dashboards"></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="3" data-sizey="1">
      <div data-id="csat_history" data-view="Highchart" style="background-color:rgba(254, 252, 233, 0.5);">></div>
    </li>


    <li data-row="2" data-col="5" data-sizex="1" data-sizey="2">
      <div data-id="inclind-blog" data-view="News" data-title="Blog" data-interval="30"></div>
    </li>

    <li data-row="3" data-col="2" data-sizex="3" data-sizey="1">
      <div data-id="twitter_mentions" data-view="Comments" data-title="Tweets" style="background-color:#4099FF;" data-moreinfo="Tweets tagged with #todayilearned"></div>
      <i class="icon-twitter icon-background"></i>
    </li>

  </ul>
</div>