// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #ec663c;


$title-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);


// ----------------------------------------------------------------------------
// Inclind Colors
//... from the drive
// ----------------------------------------------------------------------------

$inclind-red: #ec4024;
$inclind-black: #231f20;
$inclind-cream: #fefce9;
$inclind-rust: #99530C;
$inclind-green: #097128;

// ----------------------------------------------------------------------------
// Widget-text styles
// ----------------------------------------------------------------------------
.widget-text {

  background-color: $inclind-red;

  .title {
    color: $title-color;
  }

  .more-info {
    color: $moreinfo-color;
  }

  .updated-at {
    color: rgba(255, 255, 255, 0.7);
  }


  &.large h3 {
    font-size: 65px;
  }
}
